$background: #2b2b2b;
$text-color: #d3d3d3;

.navbar-logo {
  size: 15px;
}
body {
  background-color: $background;
}
label {
  color: $text-color;
}
h1 {
  margin: 0 1vw;
  color: $text-color;
}

form {
  margin: 0 1vw;
  input {
    color: $text-color;
  }
}

p {
  color: $text-color;
  margin: 0 1vw;
}
.margin {
  margin: 0 1vw;
}