{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<a name="newCourse" id="newCourse" class="btn btn-secondary margin back" href="{{url_for('dashboard.newCourse')}}"
  role="button">Add new Course</a>

<a class="btn btn-secondary margin back" href="{{url_for('dashboard.newQuiz')}}">Add new  Quiz</a>
<br><br>
<h1>Upload New Video</h1>
<br>
<form method="post" enctype=multipart/form-data>
  <div class="form-group">
    <input type="file" class="form-control-file" name="video" id="video" placeholder="Select File"
      aria-describedby="New File" required>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" name="description" id="description" rows="4" required></textarea>
  </div>

  <div class="form-group">
    <label for="course">Select the course</label>
    <select class="form-control" name="course" id="course" required>
      {% for element in context: %}
        <option value='{{element[0]}}'>{{element[1]}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="lessonNum">Lesson number</label>
    <input type="number" class="form-control" name="lessonNum" id="lessonNum" min=1 placeholder="1" required>
  </div>

  <br>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>
{% endblock %}