{% extends "base.html" %}
{% block title %}New quiz{% endblock %}
{% block content %}

<div id="alert"></div>
{% if courses %}
  <form method="post" autocomplete="off">
    <div class="form-group">
      <label for="course">Select the course</label>
      <select class="form-control" name="course" id="course" required>
        {% for key, value in courses.items() %}
        <option value="{{key}}">{{value}}</option>
        {% endfor %}
      </select>

      <div class="quiz" id="quiz">
    </div>

    </div>
    <button type="button" class="btn btn-primary" onclick="addQuestion()">Add Question</button>
    <br><br>
    <button id="submit" type="button" class="btn btn-primary">Submit</button>
  </form>
{% else %}
  <h1 class="white-text"> All the courses have a quiz!</h1>
{% endif %}


{% endblock %}
{% block scripts %}
  <script src="{{url_for('static', filename='js/newQuiz.js')}}"></script>
{% endblock %}