{% extends "base.html" %}
{% block title %} {{courseName}} - Lesson {{lessonId}} {% endblock %}
{% block content %}
    <br>
    <a class="btn margin btn-primary" href="{{ url_for('courses.specificCourse', courseId=courseId)}}">Back</a>
    <br>
    <br>

    <video controls class="margin" src="{{url_for(folderPath, filename=videoPath)}}">
        If you see this message, please update your browser!
    </video>
    <br>
    <br>
    {% if session['email'] and not session['admin'] %}
        <form action="#" method="post">
            <button type="submit" class="btn btn-primary">Mark as Played</button>
        </form>
    {% endif %}
    
{% endblock %}