{% extends "base.html" %}
{% block title %} {{courseName}} - Lesson {{lessonId}} {% endblock %}
{% block content %}
  <a class="btn margin btn-primary back" href="{{ url_for('courses.specificCourse', courseId=courseId)}}">Back</a>

  <div class="video-container">
    <video controls class="margin embed-responsive video" src="{{url_for(folderPath, filename=videoPath)}}">
      If you see this message, please update your browser!
    </video>
  </div>
  <br>
  <br>
  {% if session['email'] and not session['admin'] %}
    <form action="#" method="post">
      <button type="submit" class="btn btn-primary" style="margin-bottom: 10px;">Mark as Played</button>
    </form>
  {% endif %}

{% endblock %}