
<head>
    <meta charset="utf-8">
</head>

<h1 id="cert-title">
    Certificate of Proficiency
</h1>
<br><br><br><br>

<p class="smaller" id="cert-declaration">
    THIS IS TO CERTIFY THAT
</p>

<h1 id="cert-holder">
    {{data['name']}} {{data['surname']}}
</h1>

<p class="smaller" id='cert-completed-line'>
    has successfully completed the course
</p>

<h2 id="cert-course">
    {{data['course']}}
</h2>

<div id="cert-desc" <p class="smaller" id='cert-details'>
    {{data['description']}}
    </p>
</div>

<br>
<p id="cert-from" class="smaller">
    &nbsp; from www.github.com/Sclafus/flaskylearn
</p>

<br>
<p class="smaller" id='cert-issued'>
    <b>Issued on:</b> {{data['timestamp']}}
</p>