$background: hsl(0, 0%, 17%);
$text-muted: hsl(0, 0%, 55%);
$text-color: hsl(0, 0%, 83%);

.navbar-logo {
  size: 15px;
}

.white-text {
  color: $text-color;
}

body {
  background-color: $background;
}

label {
  color: $text-color;
}

h1 {
  margin: 0 1vw;
  color : $text-color;
}

form {
  margin: 0 1vw;

  input {
    color: $text-color;
  }
}

p {
  color : $text-color;
  margin: 0 1vw;
}

.margin {
  margin: 0 1vw;
}

.card-deck {
  width       : 98vw;
  flex-wrap   : wrap;
  margin-left : 1vw;
  margin-right: 1vw;
}

.card-title {
  color: $text-color;
}

.text-muted .card-subtitle {
  color: $text-muted;
}