$background        : hsl(0, 0%, 17%);
$lighter-background: hsl(210, 10%, 23%);
$text-muted        : hsl(0, 0%, 45%);
$text-color        : hsl(0, 0%, 83%);
$accent-color      : hsl(312, 100%, 75%);
$accent-color-hover: hsl(312, 100%, 68%);

.navbar-logo {
  size: 15px;
}

.white-text {
  color: $text-color;
}

body {
  background-color: $background;
}

label {
  color: $text-color;
}

h1 {
  margin: 0 1vw;
  color : $text-color;
}

form {
  margin: 0 1vw;

  input {
    color: $text-color;
  }

  #submit {
    margin-top: 20px;
    margin-left: 0.8vw;
  }
}

p {
  color : $text-color;
  margin: 0 1vw;
}

.margin {
  margin: 0 1vw;
}

.card-deck {
  width       : 98vw;
  flex-wrap   : wrap;
  margin-left : 1vw;
  margin-right: 1vw;
}

.card-title {
  color: $text-color;
}

.card {
  word-wrap: normal !important;
}

.card-link {
  margin-left: 90% !important;
}

.text-muted {
  color: $text-muted !important;
}

.btn-primary {
  background-color: $accent-color;
  border-color    : $accent-color;

  &:hover {
    background-color: $accent-color-hover;
    border-color    : $accent-color-hover;
  }

  // fix
  // &:click {  
  //   background-color: $accent-color-hover;
  //   border-color: $accent-color-hover;
  // }
}

.quiz {
  button {
    width      : min-content;
    height     : min-content;
    padding    : 1px;
    margin-left: (1em / 2);
  }

  .form-control {
    width: 80%;
  }
}

.question-quiz {
  border-radius   : (3vw / 2);
  padding         : 5px 0 1px 0;
  margin-top      : 20px;
  background-color: $lighter-background;

  label {
    &:not(.form-check-label) {
      margin-left: 1.1vw;
      font-size  : 24px;
    }
  }

  .answers-quiz {
    margin-left: 1.5vw;
  }
}