{% extends "base.html" %}
{% block title %}Courses{% endblock %}
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for msg in messages%}
    <div class="alert alert-warning alert-dismissible fade show margin" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>{{msg}}</strong> 
    </div>
    
    {% endfor %}
    <script>
      $(".alert").alert();
    </script>
  {% endif %}
{% endwith %}
<br>
<div class="list-group margin">
{% for lesson in videos: %}
  <a href="{{url_for('courses.specificLesson', courseId=courseId, lessonId=lesson[0])}}" class="list-group-item list-group-item-action bg-dark white-text">Lesson {{lesson[0]}}
    <p class="mb-1 ">{{lesson[1]}}</p>
  </a>
{% endfor %}
</div>

{% endblock %}