{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<br>
<a name="newCourse" id="newCourse" class="btn btn-secondary margin" href="{{url_for('newCourse')}}" role="button">Add new Course</a>

<h1>Upload New Video</h1>

<form method="post" enctype=multipart/form-data>
  <div class="form-group">
    <input type="file" class="form-control-file" name="video" id="video" placeholder="Select File" aria-describedby="New File">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" name="description" id="description" rows="4"></textarea>
  </div>

  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      {% for index, element in context: %}
        <li><a name='{{index}}' href="#">{{element}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>
{% endblock %}